# dependencies
node_modules/
mobile/node_modules/

# Expo
mobile/.expo/
mobile/dist/
mobile/web-build/

# Android Studio
.idea/
*.iml

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment
.env

# OS
.DS_Store
Thumbs.db